[Desktop Entry]
Type=Application
Version=1.0
Name=Wolfi Launcher
GenericName=KESKOS Launcher
Comment=KeskOS custom launcher fallback
Exec=/usr/bin/keskos-toggle-wolfi
Icon=keskos-launcher
Terminal=false
StartupNotify=false
Categories=Utility;System;
X-KDE-Shortcuts=Meta+W
