[Desktop Entry]
Type=Application
Version=1.0
Name=Kesk Settings
Comment=Change KDE Plasma and KeskOS settings
Exec=kesk settings
Icon=/usr/share/keskos/panel-icons/settings.svg
Terminal=false
StartupNotify=false
Categories=Settings;System;KDE;
NoDisplay=true
